.btn-secondary,.btn-secondary:active,.btn-secondary:visited,.btn-secondary:focus{
    border: 1px solid #EAECF0 !important;
    background-color: #EAECF0 !important;
    color: black !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    font-family: 'Inter';
}
.btn-secondary:hover{
    border: 1px solid #d8d8d9 !important;
    background-color: #d8d8d9 !important;
}
button{
    font-family: 'Inter semiBold';
}
h3{
    font-family: 'Inter semiBold';
    font-weight: 700 bold;
}